.friendItem {
    background-color: cornsilk;
    font-style: italic;
}

.firstEvent {
    background-color: blanchedalmond;
    font-weight: bolder;
    font-family: Ubuntu;
    color: #001B2E;
}

.eventList {
    font-family: Ubuntu;
    color: #001B2E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}

.events {

}