#enableForm {
    margin-top: 5px;
}

.friend {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.friend__name {
    flex-grow: 2;
}

.saveFriend {
    text-align: center;
}