@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,thin|Prompt:regular,bold);

@import "./events.css";
@import "./chat.css";
@import "./weather.css";
@import "./articles.css";
@import "./friends.css";
@import "./tasks";


header {
    background-color: #D64933;
}

body {
    background-color: #FBF7F4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
    color: #001B2E
}

button {
    font-family: Prompt;
    background-color: #7C7C7C; /* Blue background */
    border: none; /* Remove borders */
    color: #FBF7F4; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  button:hover {
    background-color: #003c66;
  }

fieldset, input, textarea,label {
    font-family: Ubuntu;
    color: #001B2E
}

.header{
    display: flex;
    justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main article {
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.content--center{
    flex: 2;
}

.content--left, .content--right{
    flex: 1
}

section:empty {
  display: none;
}
.name {
    font-family: Ubuntu;
    color: #001B2E
}
.date {
    font-family: Ubuntu;
    color: #001B2E
}

article h2{
    text-align: center
}